/* Dropdown Button */
button.dropbtn {
    // opacity: 1;
    position: relative;
    width: 200px;
    background-color: #fff;
    font-family: poppins_regular; 
    color: $teal-main;
    padding: 6px 16px;
    font-size: 14px;
    text-align: left;
    border: none;
    cursor: pointer;
    display: inline;
    border: 2px solid $teal-main;
    &:before {
        position:absolute;
        content:" ";
        border: 8px solid transparent;
        border-top: 8px solid $teal-main;
        top: 13px;
        right: 12px;
    }
    &:hover, &:focus {
        background-color: rgba(0, 190, 164, 0.8);
        border-color: rgba(0, 190, 164, 0.8);
        color: white;

        &:before {
            border-top: 8px solid #fff;
            // border-top: 8px solid #fff;
        }
    }
    &.small {
        width: 4em;
        &:before {
            position:absolute;
            content:" ";
            border: 8px solid transparent;
            border-top: 8px solid $teal-main;
            top: 5px;
            right: 12px;
        }
        &:hover, &:focus {
            background-color: rgba(0, 190, 164, 0.8);
            border-color: rgba(0, 190, 164, 0.8);
            color: white;

            &:before {
                border-top: 8px solid #fff;
                // border-top: 8px solid #fff;
            }
        }
    }
}

.dropdown {
    opacity: 1;
    position: relative;
    display: inline-block;
    // border: 2px solid $teal-main;
    border-radius: 2px;
    &.inactive {
        background: $grey-light-02;
        border: 2px solid $grey-light-04;
    }
}


select.dropdown-num {
    border: transparent;
    height: 25px;
    width: 56px;
    padding-left: 10px;
    background: transparent;
    font-family: poppins_light;
    // appearance: none;
    // -webkit-appearance: none;
    // -moz-appearance: none;
    &.inactive {
        border: $grey-light-04;
        background: $grey-light-02;
    }

}


/* Dropdown content (hidden by default) */
.dropdown-content {
    width: 100%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    /* Links inside the dropdown */
    a {
        opacity: 1;
        font-family: poppins_regular;
        font-size: 10px;
        color: black;
        padding: 8px 16px;
        text-decoration: none;
        display: block;
    }
        a:hover {
            background-color: $grey-light-02;
            color: rgba(0, 0, 0, 0.9);
        }
}
.show {
    display: block;
}
