// INPUTS
input[type="text"] {
	height: 25px;
	border: 1px solid $grey-light-04;
	background: $white;
	&.number-picker {
		border-radius: 0;
		width: 5em;
		text-align: center;
	}
	&:disabled {
		background: $grey-light-02;
	}
}